body  {
  background-image: url("https://wallpapercave.com/wp/wc1713889.jpg");
  background-size: 1500px;
  text-align:center;
}
h1 {
    color:red;    
}
h2 {
    color:blue;
}
p  {
  color:black;
   font-size:30px;
   font-family: Arial, Helvetica, sans-serif;
}
div {
    padding:30px;    
}

img {
    height: 400px;
    width: 50%;
}


